<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
 
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRegister</servlet-name>
  	<display-name>LoginRegister</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.LoginRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListProductBill</servlet-name>
  	<display-name>ListProductBill</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.ListProductBill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bill</servlet-name>
  	<display-name>Bill</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.Bill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cancel</servlet-name>
  	<display-name>Cancel</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.Cancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cancell</servlet-name>
  	<display-name>Cancell</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.Cancell</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelBill</servlet-name>
  	<display-name>CancelBill</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.CancelBill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeCount</servlet-name>
  	<display-name>EmployeeCount</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.EmployeeCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillByDate</servlet-name>
  	<display-name>BillByDate</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.BillByDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBills</servlet-name>
  	<display-name>ViewBills</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.ViewBills</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TotalIncome</servlet-name>
  	<display-name>TotalIncome</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.TotalIncome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IncomeByDate</servlet-name>
  	<display-name>IncomeByDate</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.IncomeByDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.AddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProduct</servlet-name>
  	<display-name>UpdateProduct</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.UpdateProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProduct</servlet-name>
  	<display-name>DeleteProduct</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductStock</servlet-name>
  	<display-name>AddProductStock</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.AddProductStock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductStock</servlet-name>
  	<display-name>UpdateProductStock</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.UpdateProductStock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePStock</servlet-name>
  	<display-name>UpdatePStock</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.UpdatePStock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePStock</servlet-name>
  	<display-name>DeletePStock</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.DeletePStock</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>LoginRegister</servlet-name>
  	<url-pattern>/LoginRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListProductBill</servlet-name>
  	<url-pattern>/ListProductBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bill</servlet-name>
  	<url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cancel</servlet-name>
  	<url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cancell</servlet-name>
  	<url-pattern>/Cancell</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelBill</servlet-name>
  	<url-pattern>/CancelBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeCount</servlet-name>
  	<url-pattern>/EmployeeCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillByDate</servlet-name>
  	<url-pattern>/BillByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBills</servlet-name>
  	<url-pattern>/ViewBills</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TotalIncome</servlet-name>
  	<url-pattern>/TotalIncome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IncomeByDate</servlet-name>
  	<url-pattern>/IncomeByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProduct</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProduct</servlet-name>
  	<url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProduct</servlet-name>
  	<url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductStock</servlet-name>
  	<url-pattern>/AddProductStock</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>UpdatePStock</servlet-name>
  	<url-pattern>/UpdatePStock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePStock</servlet-name>
  	<url-pattern>/DeletePStock</url-pattern>
  </servlet-mapping>
</web-app>
